@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 768px) {
  ul {
    display: flex;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    padding-left: 0;
    transform: none;
  }
  .hidden {
    display: none;
  }
}